#root {
  margin: 0 auto;

  --color-100: #000000;
  --color-300: #242424;
  --color-500: #3B3B3B;
  --color-700: #929292;
  --color-900: #EAEAEA;
}

*::-webkit-scrollbar {
	background-color: rgb(0, 0, 0, 0);
	border-radius: 99999px;
	width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 9999px;
}