@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

button {
  padding: 0.25rem 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition: 150ms all;
}

button:hover {
  background-color: rgb(229 231 235);
}

button:active {
  background-color: rgb(209 213 219);
}
